{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Big Project</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="{% static "assets/css/theme.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/my.css" %}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="light">
        <div class="container"><label><a href="/"><strong>Consulting</strong></a></label>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
              {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                    <li><a class="dropdown-item" href="/mypage/">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/mypage/update/">내 정보 수정</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link px-3" href="/boards/faq/">FAQ</a></li>
              <li class="nav-item"><a class="nav-link pl-3 me-3" href="/accounts/logout/">logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
              <li class="nav-item"><a class="nav-link px-3" href="/boards/faq/">FAQ</a></li>
              <li class="nav-item"><a class="nav-link px-3" href="/accounts/login/">login</a></li>
              <button class="btn btn-primary"><a href="/accounts/signup/">Sign Up</a></button>
              {% endif %}

              <!-- 웹사이트 번역 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                <div id="google_translate_element" style="display:none;"></div>
                <ul class="dropdown-menu dropdown-menu-end translation-links" aria-labelledby="navbarDropdownBlog">
                  <li><a href="javascript:void(0)" class="korean dropdown-item" data-lang="ko">한국어</a></li>
                  <li><a href="javascript:void(0)" class="english dropdown-item" data-lang="en">English</a></li>
                  <li><a href="javascript:void(0)" class="japanese dropdown-item" data-lang="ja">日本語</a></li>
                  <li><a href="javascript:void(0)" class="chinese dropdown-item" data-lang="zh-CN">中文</a></li>
                  <li><a href="javascript:void(0)" class="thai dropdown-item" data-lang="th">ภาษาไทย</a></li>
                  <li><a href="javascript:void(0)" class="vietnamese dropdown-item" data-lang="vi">Tiếng Việt</a></li>
                </ul>
              </li>
              <!-- 웹사이트 번역 end -->
            </ul>            
          </div>
        </div>
      </nav>
      <section class="py-7 py-lg-10" id="home">
        {% comment %} <div class="bg-holder bg-size" style="background-image:url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80);"> {% endcomment %}
        {% comment %} <div class="bg-holder bg-size" style="background-image:url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);"> {% endcomment %}
        {% comment %} <div class="bg-holder bg-size" style="background-image:url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);"> {% endcomment %}
          
        </div>
        <!--/.bg-holder-->

        {% comment %} <div class="bg-holder d-none d-xxl-block hero-bg" style="background-image:url(assets/img/illustration/1.png);background-position:right top;background-size:contain;"> {% endcomment %}
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center h-100 justify-content-center justify-content-lg-start">
            <div class="col-md-9 col-xxl-5 text-md-start text-center py-6 pt-8">
              <h1 class="fs-4 fs-md-5 fs-xxl-4" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">Consulting</h1>
              <p class="fs-1" style="margin-left:20px; width:600px;" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"><strong>첫째,</strong> AI를 통한 폭언 감지 시스템으로 온라인 커뮤니티에서의 <br> &nbsp;편안하고 안전한 환경을 조성하며, 부정적인 경험을 최소화합니다.</p>
              <p class="fs-1" style="margin-left:20px; width:600px;" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"><strong>둘째,</strong> 실시간 번역 시스템으로 인해 문화적, 언어적인 장벽을 <br>&nbsp;극복하고 외국인들에게 동등한 상담 기회를 제공합니다.</p>
              <p class="fs-1" style="margin-left:20px; width:600px;" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"><strong>셋째,</strong> 상담 완료 후 내용을 정확∙간결하게 요약하여 제공함으로써 <br> &nbsp;시간과 노력을 절약하며, 명확한 방향성을 제시합니다.</p>
              <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start mt-5" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">
                <a class="btn btn-sm btn-primary me-1" href="/voicetalk/" role="button">전화 상담</a>
                <a class="btn btn-sm btn-primary me-1" href="/chat/" role="button">채팅 상담</a>
                {% comment %} <a class="btn btn-sm btn-primary me-1" href="/foreign/" role="button">Foreign Page</a> {% endcomment %}
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="product">

        <div class="container">
          <div class="row mb-4">
            <div class="col-md-6 h-100 text-center text-md-start p-0 p-md-5 pb-3">
              <h2 class="mt-3">핵심 기능 살펴보기</h2>
              <p class="mb-0">우리는 다른 상담 프로그램과는 차별화된 기능을 제공하여 고객들에게 최고의 상담 경험을 선사합니다. <br>우리의 프로그램은 전문성과 혁신적인 기술을 통해 지속적인 성장과 변화를 돕는 것을 자부합니다.</p>
            </div>
            <div class="col-md-6">
              <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2013/240/iconmonstr-headphones-8.png" alt="Dashboard" style="width:95px;" />
                <h3 class="mt-3 lh-base">폭언 감지</h3>
                <p class="mb-0">전화 상담 중 폭언이 지속될 경우 채팅 상담으로 전환될 수 있습니다.</p>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2013/240/iconmonstr-note-23.png" alt="Comment" style="width:95px;" />
                <h3 class="mt-3 lh-base">상담 내용 요약</h3>
                <p class="mb-0">상담 종료 후 상담 내용을 요약하여 제공해드립니다.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2014/240/iconmonstr-language-10.png" alt="Tailored" style="width:95px;" />
                <h3 class="mt-3 lh-base">실시간 번역</h3>
                <p class="mb-0">전화, 채팅 상담 중 실시간 번역 서비스를 이용하실 수 있습니다.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="customers">

        <div class="container">
          <h1 class="text-center display-5 fw-semi-bold" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">Counselor</h1>
          <p class="text-center fs-0 fs-md-1" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"> 상담은 안전하고 신뢰성 있는 환경에서 진행되며, 모든 정보는 엄격한 기밀이 유지됩니다.<br>상황에 따라 다양한 상담 기술과 접근법을 사용하여 최적의 결과를 얻을 수 있도록 노력하겠습니다.</p>
          <div class="row mb-4 mt-6 d-flex justify-content-center">
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Dashboard" style="width:95px;" />
              <h4 class="mt-3 lh-base">강성필</h4>
              <p class="fs-0">a031158@aivle.kt.co.kr</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Comment" style="width:95px;" />
              <h4 class="mt-3 lh-base">김주열</h4>
              <p class="fs-0">a031151@aivle.kt.co.kr</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Tailored" style="width:95px;" />
              <h4 class="mt-3 lh-base">이유진</h4>
              <p class="fs-0">a031174@aivle.kt.co.kr</p>
            </div>
          </div>
          <div class="row mb-6" style="margin-top:50px;">
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Dashboard" style="width:95px;" />
              <h4 class="mt-3 lh-base">이주영</h4>
              <p class="fs-0">a031148@aivle.kt.co.kr</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Dashboard" style="width:95px;" />
              <h4 class="mt-3 lh-base">이지현</h4>
              <p class="fs-0">a031146@aivle.kt.co.kr</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Dashboard" style="width:95px;" />
              <h4 class="mt-3 lh-base">이채원</h4>
              <p class="fs-0">a031139@aivle.kt.co.kr</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center"><img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-id-card-thin.png" alt="Dashboard" style="width:95px;" />
              <h4 class="mt-3 lh-base">채종현</h4>
              <p class="fs-0">a031185@aivle.kt.co.kr</p>
            </div>
          </div>
          
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="pricing">

        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 text-center text-md-start">
              <h4 class="fw-normal fs-3" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">전화 상담을 <br />이용해 보세요.</h4>
              <p class="fs-0 pe-xl-8" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">지금 전화 받는 상담원은 누군가의 소중한 가족입니다.<br>바르고 고운 말을 사용해 주세요.</p>
              <div class="d-flex justify-content-space-between align-item-center my-3 mt-2">
                <div>
                  <h4 class="fw-normal fs-1">실시간 번역</h4>
                  <p class="my-1 fs-0 pe-xl-8">근데 너무 같은 말 반복하는 기분이라 여기에 뭐 쓸지 추천해주세요ㅠ</p>
                </div>
                <div>
                  <h4 class="fw-normal fs-1">상담 요약</h4>
                  <p class="my-1 fs-0 pe-xl-8">근데 너무 같은 말 반복하는 기분이라 여기에 뭐 쓸지 추천해주세요ㅠ</p>
                </div>
              </div>
              <a href="/voicetalk/"><button class="btn btn-sm btn-primary my-4 me-1" role="button">Get started</button></a>
              <a class="btn btn-sm my-2 btn-default" href="/boards/faq/" role="button">Questions? Talk to our team<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
            <div class="col-md-6 mb-4"><img class="w-100" src="https://images.unsplash.com/photo-1613993995046-07bce4b0bfed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="..." /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4"><img class="w-100" src="https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80" alt="..." /></div>
            <div class="col-md-6 text-center text-md-start">
              <h4 class="fs-3 fw-normal" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">채팅 상담을 <br />이용해 보세요.</h4>
              <p class="fs-0 pe-xl-7" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">지금 채팅을 하는 상담원은 누군가의 소중한 가족입니다.<br>바르고 고운 말을 사용해 주세요.</p>
              <div class="d-flex justify-content-center align-item-center my-3 mt-2">
                <div>
                  <h4 class="fw-normal fs-1">실시간 번역</h4>
                  <p class="my-1 fs-0 pe-xl-8">근데 너무 같은 말 반복하는 기분이라 여기에 뭐 쓸지 추천해주세요ㅠ</p>
                </div>
                <div>
                  <h4 class="fw-normal fs-1">내용 요약</h4>
                  <p class="my-1 fs-0 pe-xl-8">근데 너무 같은 말 반복하는 기분이라 여기에 뭐 쓸지 추천해주세요ㅠ</p>
                </div>
              </div>
              <a href="/chat/"><button class="btn btn-sm btn-primary my-4 me-1" role="button">Get started</button></a>
              <a class="btn btn-sm my-2 btn-default" href="/boards/faq/" role="button">Questions? Talk to our team<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="p-0" id="docs">
        <div class="bg-holder d-none d-lg-block" style="background-image:url(assets/img/illustration/6.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-7 col-xl-5 text-lg-start text-center">
              <h1 class="fs-3 fw-normal mt-6">Your finances on autopilot</h1>
              <p class="fs-0">Gohub monitors application stability, so you can make data-driven decision on whether you should be building new features, or fixing bugs.</p>
            </div>
          </div>
          <div class="row align-items-center mt-7">
            <h4 class="fs-2 fw-normal">Save Time</h4>
            <ul class="list-unstyled py-3">
              <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>intuitive process and single interface
              </li>
              <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Online and paperless
              </li>
              <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Real-time notification
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="container" id="auto">
          <div class="row align-items-center">
            <div class="col-md-6 text-md-start">
              <h4 class="fs-2 fw-normal">Monitor your expenses</h4>
              <ul class="list-unstyled py-3">
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Specific access/rights by users
                </li>
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Physical and virtual Mastercards with adjestable payment limits
                </li>
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Dashboards to follow-up on your expenses
                </li>
              </ul>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 text-start">
              <h4 class="fs-2 fw-normal">Make accounting easier</h4>
              <ul class="list-unstyled py-3">
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Unlimited history
                </li>
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>REad-only access for your accountant
                </li>
                <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Plug-and-play for accounting tools
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-200" id="cta">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <h2 class="fw-bold text-black">Ready to get started?</h2>
              <p>Get an guided demo with an OKR expert.</p>
            </div>
            <div class="col-lg-6 h-100">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Email Address" />
                <button class="btn btn-primary rounded-start-0 px-3" type="submit">Get Started</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="py-0 bg-1000">
        <div class="container">
          <div class="row py-7">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img src="assets/img/icons/Logo2.png" height="51" alt="" /></a>
              <p class="text-light mt-4 mb-0">EU: +49 9999 0000</p>
              <p class="text-light mb-0">US: +00 4444 0000</p>
              <p class="text-light mt-5">info@gohub.ee</p>
              <div class="d-flex"><a href="#!"><img class="me-xl-3 me-1" src="assets/img/gallery/linkedin-line1.svg" alt="in" width:'20px'="width:'20px'" height:'20px'="height:'20px'" /></a><a href="#!"><img class="me-xl-3 me-1" src="assets/img/gallery/facebook-line1.svg" alt="fb" width:'20px'="width:'20px'" height:'20px'="height:'20px'" /></a><a href="#!"><img class="me-xl-3 me-1" src="assets/img/gallery/twitter-line1.svg" alt="twitter" width:'20px'="width:'20px'" height:'20px'="height:'20px'" /></a><a href="#!"><img class="me-xl-3 me-1" src="assets/img/gallery/instagram-line1.svg" alt="instragram" width:'20px'="width:'20px'" height:'20px'="height:'20px'" /></a>
              </div>
            </div>
            <div class="col-3 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
              <h5 class="lh-lg fw-bold text-light font-sans-serif">About Us</h5>
              <ul class="list-unstyled text-light mb-md-4">
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Newsroom</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Blog</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gohub API</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gift cards</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Career</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gohub driving jobs</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-light font-sans-serif">Offerings</h5>
              <ul class="list-unstyled text-light mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gohub Eats</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gohub Business</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Guhub Freight</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Gohub Health</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-light font-sans-serif"> Support</h5>
              <ul class="list-unstyled text-light mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Terminal Conditions</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">About Us</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Contact US</a></li>
                <li class="lh-lg"><a class="text-500 footer-link text-light" href="#!">Terms of Use</a></li>
              </ul>
            </div>
          </div>
        </div>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-1000">

          <div class="container">
            <div class="row justify-content-md-between justify-content-evenly py-3">
              <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                <p class="fs--1 my-2 fw-bold text-200">&copy; 2022 Your Company Inc</p>
              </div>
              <div class="col-12 col-sm-8 col-md-6">
                <p class="fs--1 my-2 text-center text-md-end text-200"> Made with&nbsp;
                  <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                  </svg>&nbsp;by&nbsp;<a class="fw-bold text-info text-200" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
                </p>
              </div>
            </div>
          </div>
          <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static "vendors/popper/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/anchorjs/anchor.min.js" %}"></script>
    <script src="{% static "vendors/is/is.min.js" %}"></script>
    <script src="{% static "vendors/fontawesome/all.min.js" %}"></script>
    <script src="{% static "vendors/lodash/lodash.min.js" %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="{% static "vendors/imagesloaded/imagesloaded.pkgd.js" %}"></script>
    <script src="{% static "vendors/gsap/customEase.js" %}"></script>
    <script src="{% static "vendors/gsap/scrollToPlugin.js" %}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script src="{% static "assets/js/theme.js" %}"></script>

    <!-- 웹사이트 번역 -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {pageLanguage: 'ko,en', autoDisplay: true}, 
          'google_translate_element');}
    </script>

    <script>
      document.querySelector('.translation-links').addEventListener('click',function(event) {
        let el = event.target;
        if(el != null){
          while(el.nodeName == 'FONT'){el = el.parentElement;}  // data-lang 속성이 있는 태그 찾기
          const tolang = el.dataset.lang;  // 변경할 언어 코드 얻기
          const gtcombo = document.querySelector('.goog-te-combo');
          if (gtcombo == null) {
            alert("Error: Could not find Google translate Combolist.");
            return false;
          }
          gtcombo.value = tolang;  // 변경할 언어 적용
          gtcombo.dispatchEvent(new Event('change'));  // 변경 이벤트 트리거
        }
        return false;
      });
    </script>
    <!-- 웹사이트 번역 end -->

  </body>

</html>