
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Chitchat</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <link rel="icon" type="image/png" sizes="32x32" href="{%static "assets/img/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static "assets/img/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static "assets/img/favicons/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{%static "assets/img/favicons/favicon.ico" %}">
    <link rel="manifest" href="{%static "assets/img/favicons/manifest.json" %}">
    <meta name="msapplication-TileImage" content="{%static "assets/img/favicons/ms-icon-150x150.png" %}">
    <meta name="theme-color" content="#ffffff"> 


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href='{% static "css/app.min.css" %}'>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="{% static 'js/mypage.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Righteous&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    
    

    
    <link rel="stylesheet" href="{% static "assets/vendor/css/core.css" class="template-customizer-core-css" %}" />
    <link rel="stylesheet" href="{% static "assets/vendor/css/theme-default.css" class="template-customizer-theme-css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/demo.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/register.css" %}" />
    <link href="{% static "assets/css/theme.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/my.css" %}" rel="stylesheet" />

    

    <style>

      @media (min-width: 1440px) {
        .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
          max-width: 1200px;
        }
      }

      .form-control{
        width:450px;
        font-size:15px;
      }

      .form-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


    </style>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="light">
        <div class="container">
          <label style="font-size:30px; font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";">
            <a href="/" style="color:#6f42c1; ">
              {% comment %} <img src="{%static "assets/img/favicons/favicon-96x96.png" %}" alt="logo" class="logo-img" style="display: inline-block; vertical-align: middle; margin-right: 10px;"> {% endcomment %}
              <strong>Chitchat</strong>
            </a>
          </label>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
              {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                    <li><a class="dropdown-item" href="/mypage/">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/mypage/update/">내 정보 수정</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link px-3" href="/boards/faq/">FAQ</a></li>
              <li class="nav-item"><a class="nav-link pl-3 me-3" href="/accounts/logout/">logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
              <li class="nav-item"><a class="nav-link px-3" href="/boards/faq/">FAQ</a></li>
              <li class="nav-item"><a class="nav-link px-3" href="/accounts/login/">login</a></li>
              <button class="btn btn-primary"><a href="/accounts/signup/">Sign Up</a></button>
              {% endif %}

              <!-- 웹사이트 번역 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                <div id="google_translate_element" style="display:none;"></div>
                <ul class="dropdown-menu dropdown-menu-end translation-links" aria-labelledby="navbarDropdownBlog">
                  <li><a href="javascript:void(0)" class="korean dropdown-item" data-lang="ko">한국어</a></li>
                  <li><a href="javascript:void(0)" class="english dropdown-item" data-lang="en">English</a></li>
                  <li><a href="javascript:void(0)" class="japanese dropdown-item" data-lang="ja">日本語</a></li>
                  <li><a href="javascript:void(0)" class="chinese dropdown-item" data-lang="zh-CN">中文</a></li>
                  <li><a href="javascript:void(0)" class="thai dropdown-item" data-lang="th">ภาษาไทย</a></li>
                  <li><a href="javascript:void(0)" class="vietnamese dropdown-item" data-lang="vi">Tiếng Việt</a></li>
                </ul>
              </li>
              <!-- 웹사이트 번역 end -->
            </ul>            
          </div>
        </div>
      </nav>

      <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 password_reset-form">
                    <h1 class="font-weight-bold" style="white-space: nowrap; display: flex; justify-content: center; align-items: center; margin-top:40px; margin-bottom:20px; color:#4F4C51; font-size:40px; font-family: 'Noto Sans KR'">Please check your email</h1>
                    <p class="text-dark mb-3">이메일로 비밀번호 변경 주소를 발송했습니다.<br>5분 이내에 비밀번호를 변경해주세요.</p>
                    <h1 id="countdown" class="font-weight-bold" style="color: #6f42c1;">05:00</h1>
                    <a class="font-weight-semibold" href="/accounts/password_reset/"><p class="text-dark mb-3">Retry</p></a>


                </div>
            </div>
        </div>
    </div>



    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static "vendors/popper/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/anchorjs/anchor.min.js" %}"></script>
    <script src="{% static "vendors/is/is.min.js" %}"></script>
    <script src="{% static "vendors/fontawesome/all.min.js" %}"></script>
    <script src="{% static "vendors/lodash/lodash.min.js" %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="{% static "vendors/imagesloaded/imagesloaded.pkgd.js" %}"></script>
    <script src="{% static "vendors/gsap/customEase.js" %}"></script>
    <script src="{% static "vendors/gsap/scrollToPlugin.js" %}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script src="{% static "assets/js/theme.js" %}"></script>

    <!-- 웹사이트 번역 -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {pageLanguage: 'ko,en', autoDisplay: true}, 
          'google_translate_element');}
    </script>

    <script>
      document.querySelector('.translation-links').addEventListener('click',function(event) {
        let el = event.target;
        if(el != null){
          while(el.nodeName == 'FONT'){el = el.parentElement;}  // data-lang 속성이 있는 태그 찾기
          const tolang = el.dataset.lang;  // 변경할 언어 코드 얻기
          const gtcombo = document.querySelector('.goog-te-combo');
          if (gtcombo == null) {
            alert("Error: Could not find Google translate Combolist.");
            return false;
          }
          gtcombo.value = tolang;  // 변경할 언어 적용
          gtcombo.dispatchEvent(new Event('change'));  // 변경 이벤트 트리거
        }
        return false;
      });
    </script>
    <!-- 웹사이트 번역 end -->

    <script>
      // 카운트 다운 시작 시간 (5분)
      var countdownTime = 5 * 60; // 초 단위로 변환
    
      // h1 요소
      var countdownElement = document.getElementById("countdown");
    
      // 카운트 다운 함수
      function startCountdown() {
        var minutes, seconds;
    
        var countdownInterval = setInterval(function() {
          minutes = Math.floor(countdownTime / 60);
          seconds = countdownTime % 60;
    
          // 시간을 2자리 숫자로 포맷팅
          minutes = String(minutes).padStart(2, "0");
          seconds = String(seconds).padStart(2, "0");
    
          countdownElement.textContent = minutes + ":" + seconds;
    
          // 카운트 다운 종료 시
          if (countdownTime <= 0) {
            clearInterval(countdownInterval);
            countdownElement.textContent = "Try again";
          } else {
            countdownTime--;
          }
        }, 1000); // 1초마다 갱신
      }
    
      // 페이지 로드 시 카운트 다운 시작
      startCountdown();
    </script>

  </body>

</html>
{% endblock %}
